services:
  frontend:
    image: hjcasayas/modern-product-launch-frontend:v1.5.1
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
      tags:
        - hjcasayas/modern-product-launch-frontend:latest
        - hjcasayas/modern-product-launch-frontend:v1.5.1
      platforms:
        - linux/amd64
  cms:
    image: hjcasayas/modern-product-launch-cms:v1.5.1
    build:
      context: .
      dockerfile: ./apps/cms/Dockerfile
      tags:
        - hjcasayas/modern-product-launch-cms:latest
        - hjcasayas/modern-product-launch-cms:v1.5.1
      platforms:
        - linux/amd64
