services:
  frontend:
    image: hjcasayas/modern-product-launch-frontend:v1.5.7
    build:
      context: .
      dockerfile: ./apps/frontend/Dockerfile
      args:
        NEXT_PUBLIC_STRAPI_URL: ${NEXT_PUBLIC_STRAPI_URL} 
      tags:
        - hjcasayas/modern-product-launch-frontend:latest
        - hjcasayas/modern-product-launch-frontend:v1.5.7
      platforms:
        - linux/amd64
  cms:
    image: hjcasayas/modern-product-launch-cms:v1.5.7
    build:
      context: .
      dockerfile: ./apps/cms/Dockerfile
      tags:
        - hjcasayas/modern-product-launch-cms:latest
        - hjcasayas/modern-product-launch-cms:v1.5.7
      platforms:
        - linux/amd64
