services:
  dev-container:
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - ../:/workspaces/modern-product-launch:cached
      - workspace-node_modules:/workspaces/modern-product-launch/node_modules
      - workspace-pnpm-store:/workspaces/modern-product-launch/.pnpm-store
      - workspace-next:/app/apps/frontend/.next
      - workspace-dist:/workspaces/modern-product-launch/apps/cms/dist
      - frontend-node_modules:/workspaces/modern-product-launch/apps/frontend/node_modules
      - cms-node_modules:/workspaces/modern-product-launch/apps/cms/node_modules
      - cms-strapi:/workspaces/modern-product-launch/apps/cms/.strapi
      - cms-types:/workspaces/modern-product-launch/apps/cms/types
    command: sleep infinity
    depends_on:
      - db
    env_file:
      - ./.env
  cms:
    build:
      dockerfile: ./apps/cms/Dockerfile
      context: ../
      target: development
    volumes:
      - ../:/app
      - workspace-node_modules:/app/node_modules
      - workspace-pnpm-store:/app/.pnpm-store
      - frontend-next:/app/apps/frontend/.next
      - frontend-node_modules:/app/apps/frontend/node_modules
      - cms-node_modules:/app/apps/cms/node_modules
      - cms-dist:/app/apps/cms/dist
      - cms-strapi:/app/apps/cms/.strapi
      - cms-types:/app/apps/cms/types
    restart: always
    depends_on:
      - dev-container
    ports:
      - 1337:1337
    env_file:
      - ./.env
    environment:
      - APP_KEYS=${APP_KEYS}
      - API_TOKEN_SALT=${API_TOKEN_SALT}
      - ADMIN_JWT_SECRET=${ADMIN_JWT_SECRET}
      - TRANSFER_TOKEN_SALT=${TRANSFER_TOKEN_SALT}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - DATABASE_CLIENT=${DATABASE_CLIENT}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_SSL=${DATABASE_SSL}
      - DATABASE_FILENAME=
      - JWT_SECRET=${JWT_SECRET}
      - STRAPI_TRANSFER_URL=${STRAPI_TRANSFER_URL}
      - STRAPI_TRANSFER_TOKEN=${STRAPI_TRANSFER_TOKEN}
      - PORT=${CMS_PORT}
  frontend:
    build:
      dockerfile: ./apps/frontend/Dockerfile
      context: ../
      target: development
    volumes:
      - ../:/app
      - workspace-node_modules:/app/node_modules
      - workspace-pnpm-store:/app/.pnpm-store
      - frontend-node_modules:/app/apps/frontend/node_modules
      - frontend-next:/app/apps/frontend/.next
      - cms-node_modules:/app/apps/cms/node_modules
      - cms-dist:/app/apps/cms/dist
      - cms-strapi:/app/apps/cms/.strapi
      - cms-types:/app/apps/cms/types
    restart: always
    depends_on:
      - cms
    ports:
      - 3000:3000
    env_file:
      - ./.env
    environment:
      - NEXT_PUBLIC_STRAPI_URL=${NEXT_PUBLIC_STRAPI_URL}
      - STRAPI_GRAPHQL_ENDPOINT=${STRAPI_GRAPHQL_ENDPOINT}
      - PORT=${FRONTEND_PORT}
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    env_file:
      - ./.env
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
  workspace-node_modules:
  workspace-pnpm-store:
  workspace-next:
  workspace-dist:
  frontend-node_modules:
  frontend-next:
  cms-node_modules:
  cms-dist:
  cms-strapi:
  cms-types:
