name: Build and Push Images to Docker Hub

on:
  push:
    branches: [ "master" ]
    paths: 
      - 'docker-compose.yaml'
  pull_request:
    branches: [ "master" ]
    paths: 
      - 'docker-compose.yaml'
  workflow_dispatch:
    

jobs:
  production-build-and-push:
    environment: production
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - name: Build the Docker image
      env:
        APP_KEYS: ${{ secrets.STRAPI_APP_KEYS }}
        API_TOKEN_SALT: ${{ secrets.STRAPI_API_TOKEN_SALT }}
        ADMIN_JWT_SECRET: ${{ secrets.STRAPI_ADMIN_JWT_SECRET }}
        TRANSFER_TOKEN_SALT: ${{ secrets.STRAPI_TRANSFER_TOKEN_SALT }}
        ENCRYPTION_KEY: ${{ secrets.STRAPI_ENCRYPTION_KEY }}
        DATABASE_CLIENT: ${{ secrets.DATABASE_CLIENT }}
        DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
        DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
        DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
        DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
        DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        DATABASE_SSL: ${{ secrets.DATABASE_SSL }}
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        NEXT_PUBLIC_STRAPI_URL: ${{ secrets.NEXT_PUBLIC_STRAPI_URL }}
        STRAPI_GRAPHQL_ENDPOINT: ${{ secrets.STRAPI_GRAPHQL_ENDPOINT }}
      run: pnpm run docker:build
    - name: Push the Docker image
      run: | 
        docker login -u hjcasayas -p ${{ secrets.DOCKER_HUB_TOKEN }}
        pnpm run docker:push
