@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

:root {
  --dm-sans: "DM Sans", sans-serif;
  --crimson-text: "Crimson Text", serif;
  --roboto-mono: "Roboto Mono", monospace;
  --background: #ffffff;
  --foreground: #000000;
  --dark-moss-green: #485c11;
  --moss-green: #8e9c78;
  --nyanza: #dfecc6;
  --dim-gray: #6f6f6f;
  --platinum: #e9e9e9;
  --silver: #cecece;
}

@theme inline {
  --font-dm-sans: var(--dm-sans);
  --font-crimson-text: var(--crimson-text);
  --font-roboto-mono: var(--roboto-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-moss-green: var(--dark-moss-green);
  --color-moss-green: var(--moss-green);
  --color-nyanza: var(--nyanza);
  --color-platinum: var(--platinum);
  --color-dim-gray: var(--dim-gray);
  --color-silver: var(--silver);
}

@theme {
  --breakpoint-tablet: 50rem;
  --breakpoint-desktop: 80rem;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-dm-sans);
  }
}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    @slot;
  }
}

@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    @slot;
  }
}
